/*comment*/
h1 {
	font-family: Arial;
	color: purple;
}

.important {
color:red;
}

#somesuch {
	color:blue;
}

span.important {
color:darkred;
}

h1, h2, h3, p.important {
margin-left: 50px;
}


a:visited {
text-decoration:none;
color:green;

}

a:hover {
color:yellow;
}
a:link {
}

p:first-letter {
font-size:3em;
}

article:before {
content: '**********'
}

article:after {
content: '#########'
}

p:first-of-type {
margin-right: 10px;
}

li:first-child {
font-style:italic;
}

li:last-child{
font-style:italic;
font-weight:bold;
}

li:nth-of-type(3) {
font-weight:bold;
}

span[title] {
color:black;
}

span[title="first idea"] {
text-decoration:line-through;
}

a[href^="email"] {
font-size:2em;
}

span[title$="idea"] {
text-decoration:overline;
}